@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bungee&display=swap');

:root {  
   --rosa:#b91d82; 
   --cinza-dark: #121212;
   --cinza-light: #1e1e1e;
   --cinza-claro: #2c2c2c; 
   --branco: #e5e5e5;
} 

body { 
    font-family: "Arvo", serif;
    background-color: var(--cinza-dark); 
    color: var(--branco); 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin: 0;
} 

.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0.5rem;
} 

.header {
    background-color: var(--cinza-light);
    border-bottom: 2px solid var(--rosa); 
    position: sticky; 
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000;
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo span{
    color: var(--rosa);
    font-family: "Bungee", sans-serif;
    font-size: 1.5rem;
}

.menu{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s;
    font-family: "Bungee", sans-serif;
}

.menu a:hover{
    color: var(--rosa);
}

.pesquisa-section{
    margin: 2rem 0;
}

.pesquisa-conteudo{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pesquisa-conteudo input{
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--cinza-claro);
    color: var(--branco);
    margin-top: 1rem;
}

.pesquisa-button {
    background-color: var(--rosa);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-top: 1rem;
    margin-left: -10px;
}

.pesquisa-button img {  
    width: 18px; 
    height: 18px;
}

.pesquisa-button:hover{
    transform: scale(1.1);
} 
 
.footer { 
    font-family: "Bungee", sans-serif;
    margin-top: auto; 
    background-color: var(--cinza-light); 
    text-align: center; 
    padding: 0.2rem; 
    border-top: 2px solid var(--rosa); 
    font-size: 0.8rem;
}

#filmesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
 
.detalhesContainer img { 
    width: 300px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 10px;
    border-radius: 20px;
} 

.detalhesContainer {
    line-height: 1.5;
}

.detalhes-card{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    font-size: 20px;
    text-align: justify;
    margin-right: 2rem;
}

.card {
    background-color: var(--cinza-light); 
    width: 200px;   
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.card-img {
    width: 100%;
    height: 100%;  
    display: block;
} 
/* acho mais facil tirar essa parte visto que não queremos mais e esta bonito */
/* .card h3 { 
    position: absolute;
    bottom: 0;
    left: 0;  
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: var(--branco);
    padding: 8px 0;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Bungee", sans-serif;
    font-size: 14px;
    font-weight:100;
} */

.card p { 
    font-size: 0.7rem; 
    line-height: 1.3; 
    padding: 0 0.5rem 0.5rem;
} 

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 5px solid #444;
    border-top: 5px solid green;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }

} 
 
.fade-out { 
    opacity: 0; 
    transform: translateY(10px);
} 

.fade-in{ 
    opacity: 1; 
    transform: translateY(0);
} 
 
body.tema-claro { 
    --cinza-dark: #ececec; 
    --cinza-light: #b91d82;
    --cinza-claro: #ececec; 
    --rosa:#ececec;
    --branco: #ececec;
    color: #121212;
    #campoPesquisa {
        border: solid 1px #2c2c2c; 
    }
    .botaoTema {
        background-color: #ececec;
    }
    select.filtroGenero {
        background-color: #ececec;
    }
    h1{
        color:#ececec;
    }
    footer {
        color: #ececec;
        border-top: 3px solid #121212;
    }
    header {
        border-bottom: 3px solid #121212; 
    }
    .pesquisa-button {
        border: solid 1px #121212;
    }
    .pesquisa-conteudo input{
    color: #121212;
    }
    .card{
    box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);    
    }
    .menu a:hover{
    color: #121212;
}
}

.botaoTema {
    background-color: var(--rosa);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.botaoTema img{
    width: 30px;
    height: 30px;
}

.botaoTema{
    transition: transform 0.25s ease;
}

.botaoTema:hover{
    transform: scale(1.05);
}

select.filtroGenero{
    background-image: url("../assets/icone/filter.png");
    background-color: var(--rosa);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    margin-left: -10px;
    text-indent: 100%; 
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.25s ease;
    padding: 5px;

}

select.filtroGenero:hover{
    transform: scale(1.05);

}
