@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bungee&display=swap');

:root {  
   --rosa:#b91d82; 
   --cinza-dark: #121212;
   --cinza-light: #1e1e1e; 
   --branco: #ffffff;
} 

body { 
    font-family: "Bungee", sans-serif;
    background-color: var(--cinza-dark); 
    color: var(--branco); 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
} 

.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 1rem;
} 

.header {
    background-color: var(--cinza-light);
    border-bottom: 2px solid var(--rosa);
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo span{
    color: var(--rosa);
}

.menu{
    display: flex;
    gap: 1rem;
}

.menu a{
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s;
}

.menu a:hover{
    color: var(--rosa);
}

.pesquisa-section{
    margin: 2rem 0;
}

.pesquisa-conteudo{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pesquisa-conteudo input{
    width: 60%;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.pesquisa-button {
    background-color: var(--rosa);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.pesquisa-button img {  
    width: 18px; 
    height: 18px;
}

.pesquisa-button:hover{
    transform: scale(1.1);
} 
 
.footer { 
    margin-top: auto; 
    background-color: var(--cinza-light); 
    text-align: center; 
    padding: 1rem; 
    border-top: 2px solid var(--rosa); 
    font-size: 0.8rem;
}

#filmesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background-color: var(--cinza-light); 
    width: 350px; 
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.card-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.8rem; 
}

.card p { 
    font-size: 0.8rem; 
    line-height: 1.4; 
    text-align: center;
} 
